@font-face {
    font-family: 'Lexend';
    src: url(font-lexend/Lexend-VariableFont_wght.ttf);
}

:root {
    --color-primary-dark: #000;
    --color-primary-light: #F6F1F1;
    --color-secondary-light: #fff;
    --color-dark-blue: #146C94;
    --color-mid-blue: #19A7CE;
    --color-light-blue: #AFD3E2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    /*footer support*/
    /*position: relative;
    min-height: 100%;*/
    font-size: 20px;
}

body {
    font-family: 'Lexend';
    background-color: var(--color-primary-light);
    color: var(--color-primary-dark);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/*footer*/
footer {
    padding-bottom: 8px;
    font-size: 0.8rem;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--color-mid-blue);
    text-decoration: underline solid var(--color-mid-blue);
}