@font-face {
    font-family: 'Lexend';
    src: url(font-lexend/Lexend-VariableFont_wght.ttf);
}

:root {
    --color-primary-dark: #000;
    --color-primary-light: #F6F1F1;
    --color-secondary-light: #fff;
    --color-terciary-light: #dadada;
    --color-dark-blue: #146C94;
    --color-mid-blue: #19A7CE;
    --color-light-blue: #AFD3E2;
    --color-transparent-blue: #bcdbe8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    min-height: 100%;
    font-size: 18px;
}

body {
    font-family: 'Lexend';
    background-color: var(--color-primary-light);
    color: var(--color-primary-dark);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*common properties*/
button {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    color: var(--color-secondary-light);
    background-color: var(--color-mid-blue);
    border: 1px solid var(--color-mid-blue);
    padding: 8px;
    width: 150px;
}

button:hover {
    transform: scale(1.1);
    transition: 0.15s ease-in-out;
    
}

/*header*/
header {
    border-bottom: 1px solid var(--color-secondary-light);
    box-shadow: 1px 1px 5px 2px var(--color-terciary-light);
    width: 100vw;
    padding: 16px 32px;
}

/*main*/
main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 32px;
    position: relative;
}

.add-book-btn {
    padding-bottom: 16px;
    font-size: 40px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    box-shadow: 1px 1px 5px 2px var(--color-terciary-light);
    position: fixed;
    bottom: 64px;
    right: 64px;
}
/**books grid**/
.books-grid {
    width: 100%;
    padding: 32px 32px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/***book card***/
.book-card {
    background-color: var(--color-secondary-light);
    border-radius: 5%;
    width: 300px;
    height: 350px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    box-shadow: 1px 1px 5px 2px var(--color-terciary-light) ;
}

.book-information, .book-options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
}

/*************add what happens when it overflows*/
.book-title {
    font-style: italic;
}

.read, .unread:hover {
    background-color: var(--color-dark-blue);
    border: var(--color-dark-blue);
}

.unread, .read:hover {
    background-color: var(--color-light-blue);
    border-color: var(--color-light-blue);
}



/**add book modal**/
.add-book-modal {
    z-index: 1;
    position: absolute;
    right: 30%;
    top: 25%;
    min-height: fit-content;
    min-width: fit-content;
    height: 50vh;
    width: 40vw;
    background-color: var(--color-transparent-blue);
    padding: 32px;
    border-radius: 5%;
    box-shadow: 1px 1px 5px 2px var(--color-terciary-light) ;
}

.close {
    width: max-content;
    height: max-content;
    background-color: transparent;
    color: inherit;
    border: none;
    position: absolute;
    top: 16px;
    right: 16px;
}

.add-book-modal form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: center;
}

.options {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: inherit
    
}

input[type='text'], input[type='number'] {
    font-size: inherit;
    font-family: inherit;
    padding: 8px;
    width: 100%;
}


/*footer*/
footer {
    padding-bottom: 8px;
    font-size: 0.9rem;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--color-mid-blue);
    text-decoration: underline solid var(--color-mid-blue);
}

/*non-permanent styles*/
.hidden {
    display: none;
}